# Byte-compiled / otimizações do Python
__pycache__/
*.py[cod]
*$py.class

# C-extensions
*.so

# Ambientes Virtuais (virtualenv, venv, conda)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos temporários e de saída de testes criptográficos
*.bin
*.enc
*.dec
*.hex
secret_key.txt

# Relatórios e caches de testes (pytest)
.pytest_cache/
.coverage
htmlcov/

# Configurações de IDEs e editores de texto
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db